# API Configuration
export API_V1_STR=/api/v1
export PROJECT_NAME="MDPs Artifact Catalog"


# Security
export SECRET_KEY=your-secret-key-here
export ACCESS_TOKEN_EXPIRE_MINUTES=30

# Database Configuration
export DATABASE_URL=postgresql://postgres:postgres@db:5432/mdps_catalog

# Storage Configuration
export STORAGE_PATH=./storage

export DESTINATION_REGISTRY=237868187491.dkr.ecr.us-west-2.amazonaws.com

# CORS Configuration
#BACKEND_CORS_ORIGINS=["http://localhost:8000", "http://localhost:3000"] 

# One of COGNITO, KEYCLOAK
export JWT_AUTH_TYPE=COGNITO

export JWT_VALIDATION_URL=
export JWT_ISSUER_URL=
export JWT_CLIENT_ID=
export JWT_GROUPS_KEY=cognito:groups


