# API Configuration
API_V1_STR=/api/v1
PROJECT_NAME="MDPs Artifact Catalog"

# Security
SECRET_KEY=your-secret-key-here
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/mdps_catalog

# Storage Configuration
STORAGE_PATH=./storage

# registry to push containers to
DESTINATION_REGISTRY={ECR}

# CORS Configuration
BACKEND_CORS_ORIGINS=["http://localhost:8000", "http://localhost:3000"] 