# API Configuration
export API_V1_STR=/api/v1
export PROJECT_NAME="MDPs Artifact Catalog"


# Security
export SECRET_KEY=your-secret-key-here
export ACCESS_TOKEN_EXPIRE_MINUTES=30

# Database Configuration
export DATABASE_URL=postgresql://postgres:postgres@db:5432/mdps_catalog

# Storage Configuration
export STORAGE_PATH=./storage

# Currently not used.
# Will be used for reading and writing to an internal docker registry.
export DESTINATION_REGISTRY=

# CORS Configuration
# BACKEND_CORS_ORIGINS=["http://localhost:8000", "http://localhost:3000"] 

# AUTH_TYPE can be one of NONE|KEYCLOAK|COGNITO|RDM
# To read/write to RDM, RDM Auth must be used and you must export the url in the RDM_URL below.
export JWT_AUTH_TYPE=NONE
export JWT_VALIDATION_URL=
export JWT_ISSUER_URL=
export JWT_CLIENT_ID=
export JWT_GROUPS_KEY=

# RDM Config
# Only use for RDM based auth
export RDM_URL=https://host.docker.internal:5000
